.header {
	color: white;
	position: absolute;
	width: 100%;
	top: 0;
	text-align: center;
}
h1 {
	font-size: 2rem;
	background-color: brown;
}
.menubar {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__link {
		text-decoration: none;
		color: white;
		font-size: 1.5rem;
		font-weight: 700;
		padding: 10px;

		&:hover {
			color: grey;
			text-decoration: underline;
		}
	}
}
